* {
    background-image: none;
    font-size: 24px;
}

window {
    background-color: transparent;
}

button {
    color: #ffffff;
    background-color: #111111;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    color: #111111;
    background-color: #ffffff;
    background-size: 30%;
}

button:hover {
    color: #111111;
    background-color: #ffffff;
    background-size: 40%;
    border-radius: 24px;
    /*animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);*/
}

button:hover#lock {
    background-image: image(url("/home/farel/.config/wlogout/icons/lock_black.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    margin : 12px 0px 12px 12px;
}


button:focus#lock {
    background-image: image(url("/home/farel/.config/wlogout/icons/lock_black.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    margin : 12px 0px 12px 12px;
}

button:hover#logout { 
    background-image: image(url("/home/farel/.config/wlogout/icons/logout_black.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 0px;
    margin : 12px 0px 12px 0px;
}

button:hover#suspend {
    background-image: image(url("/home/farel/.config/wlogout/icons/suspend_black.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 0px;
    margin : 12px 0px 12px 0px;
}

button:hover#shutdown {
    background-image: image(url("/home/farel/.config/wlogout/icons/shutdown_black.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 0px;
    margin : 12px 0px 12px 0px;
}

button:hover#hibernate {
    background-image: image(url("/home/farel/.config/wlogout/icons/hibernate_black.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 0px;
    margin : 12px 0px 12px 0px;
}

button:hover#reboot {
    background-image: image(url("/home/farel/.config/wlogout/icons/reboot_black.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    margin : 12px 12px 12px 0px;
}

#lock {
    background-image: image(url("/home/farel/.config/wlogout/icons/lock_white.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 24px 0px 0px 24px;
    margin : 12px 0px 12px 12px;
}

#logout {
    background-image: image(url("/home/farel/.config/wlogout/icons/logout_white.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 12px 0px 12px 0px;
}

#suspend {
    background-image: image(url("/home/farel/.config/wlogout/icons/suspend_white.png"), url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 12px 0px 12px 0px;
}

#shutdown {
    background-image: image(url("/home/farel/.config/wlogout/icons/shutdown_white.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 12px 0px 12px 0px;
}

#hibernate {
    background-image: image(url("/home/farel/.config/wlogout/icons/hibernate_white.png"), url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 12px 0px 12px 0px;
}

#reboot {
    background-image: image(url("/home/farel/.config/wlogout/icons/reboot_white.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 24px 24px 0px;
    margin : 12px 12px 12px 0px;
}
